{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content|without('field_link') }}
    
    {# {{ kint(content.field_link.0["#url_title"]) }} #}
    <div class="homepage-slides__field-link">
      <a href="{{ content.field_link.0["#url_title"] }}">{{ "En Savoir Plus"|t }}<i class="fas fa-arrow-right"></i></a>
    </div>
  {% endblock %}
</article>
