{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    slick--view--postes-disponibles--block-1,
  ]
%}


<div{{ attributes.addClass(classes) }}>
  <div class="top-container">
    <div class="filter-bg">
      <div class="title">
        <h4>Postes disponibles</h4>
      </div>
      <div class="recherche">
        <a href="/">Recherchez un emploi</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="align-items-stretch">
      {{ title_prefix }}
      {{ title }}
      {{ title_suffix }}
      
      {{ attachment_before }}

      {% if footer %}
        <footer>
          {{ footer }}
        </footer>
      {% endif %}

      {% if rows -%}
        {{ rows }}
      {% elseif empty -%}
        {{ empty }}
      {% endif %}
      {{ pager }}

      {{ attachment_after }}
      {{ more }}

      

      {{ feed_icons }}
    </div>
  </div>
</div>
