// HOMEPAGE SLIDES

// Teaser Display

.homepage-slides--teaser {
  position: relative;
  min-height: 500px;

  .homepage-slides__field-intro {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }

  .homepage-slides__field-slogan {
    font-size: 6rem;
    color: $blue-main;
    line-height: 6rem;
    font-weight: 600;
    max-width: 66%;
  }

  .homepage-slides__field-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 33%;
    z-index: -10;

    &::after {
      content: ""; // ::before and ::after both require content
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(120deg, #cccccc, #cccccc);
      opacity: .25;
      z-index: 5;
    }
  }

  .homepage-slides__field-link {
    position: absolute;
    bottom: 2rem;

    a {
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      color: $gray-dark;

      i {
        color: $blue-main;
        padding-left: 1rem;
      }
    }
  }
}