// Admin My tasks

.block--umanico-local-tasks {
  position: fixed;
  bottom: 0;
  right: 30px;
  margin: 0 !important;
  z-index: 999;
  border: 1px solid #fff;
  padding: 0px;
  border-radius: 3px;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.52);

  .mb-3 {
    margin-bottom: 0 !important;
  }
}

// Homepage Slides View

.slick--view--homepage-slides--block-1 {
  margin-bottom: 2rem;

  .slick-dots {
    bottom: 0 !important;
    text-align: right;
  }
}

// Postes Homepage SLides

.postes-slick {
  background-color: $gray-light;
  padding-top: 2rem;
  padding-bottom: 1rem;

  .filter-bg {
    display: flex;
    justify-content: space-between;

    .title {
      h4 {
        font-weight: 300;
      }
    }

    .recherche {
      a {
        color: $gray-dark;
        text-transform: uppercase;
        font-weight: 400;
        border: 1px solid $gray-dark;
        border-radius: 2px;
        padding: 1 2rem;
        letter-spacing: 0.15rem;
      }
      
    }
  }

  .slick-track {
    .slick__slide {
      color: $white;
      background-color: $gray-dark;
      margin: 0 0.75rem;

      .postes--teaser {
        padding: 0.75rem;

        .layout--onecol {
          .block:nth-child(1) {
            span {
              font-size: 0.9rem;
            }
          }
          .block:nth-child(2) {
            min-height: 5rem;
            span {
              font-size: 1.5rem;
            }
          }
        }

        .layout--twocol-section {
          .basic__body {
            p {
              margin-bottom: 0;
            }
          }

          .postes__field-lieu {
            .country {
              display: none;
            }
          }

          .layout__region--second {
            position: relative;

            &>.block {
              position: absolute;
              bottom: 0;

              .fontawesome-icon {
                text-align: right;
              }
            }
            // Commit Test
            // Commit Test 2
            // Change on feature
          }   
        }
      }      
    }
  }
}