// MAIN NAVIGATION

.navbar {
  padding: 0;
  background-color: $white;

  .navbar-brand {
    img {
      width: 200px;
    }
  }

  .navbar-collapse {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

    .block--fauxlanguage {
      margin-top: 1rem;

      .nav-link {
        color: $gray-light;

        &.is-active {
          color: $gray-light;
        }
        
        &:hover {
          color: $blue-main;
        }
      }

      li:first-child {
        a {
          text-transform: uppercase;
          font-weight: 500;
          padding: 0 1rem;
        }
      }

      li:last-child {
        a {
          text-transform: uppercase;
          font-weight: 400;
          border: 1px solid $gray-light;
          border-radius: 2px;
          padding: 0 0.5rem;
          letter-spacing: 0.15rem;
        }
      }
    }

    .block--umanico-main-menu {
      margin-top: 1rem;
      margin-bottom: 1rem;

      .nav-link {
        color: $gray-dark;
        font-weight: 600;
        font-size: 0.9rem;
        padding-left: 1rem;
        padding-right: 1rem;

        &.is-active {
          color: $gray-dark;
        }
        
        &:hover {
          color: $blue-main;
        }
      }

      li:first-child {
        a {
          padding-left: 0;
        }
      }

      li:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }
}